
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>You are logged in as @CurrentUser.CurrentUserName.</p>
        <b>Available users:</b>
        <ul style="list-style-type: none">
            <li>Rasmus Føgh</li>
            <li>Morten Hansen</li>
            <li>Viktor Lundsgaard</li>
        </ul>

        <form  method="post" asp-controller="Home" asp-action="Index">
            <input type="text" name="user" />
            <input type="submit" value="Submit" />
        </form>

</div>
